@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/sakura.css/css/sakura.css";

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  max-width: none;
}

textarea {
  background-color: #fff;
  color: #000;
}

#root,
.app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.app > h1 {
  text-align: center;
  margin-bottom: 5px;
}

.description {
  width: 95%;
  max-width: 950px;

  margin-left: auto;
  margin-right: auto;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;
}

.link-row {
  margin: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.editor-container {
  flex-grow: 1;
  overflow: hidden;
}

.editor {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.markdown {
  min-width: 350px;
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.markdown > h2 {
  text-align: center;
}

.markdown textarea {
  flex-grow: 1;
}

.result {
  min-width: 350px;
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.result > h2 {
  text-align: center;
}

.result-html {
  flex-grow: 1;
  overflow: auto;

  margin-bottom: 10px;
}

code {
  display: block;
  white-space: pre-line;
}

.markdown textarea,
.result .result-html {
  padding: 5px;
  border: 2px solid #000;
}

@media only screen and (max-width: 800px) {
  .editor {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .editor-container {
    overflow: initial;
  }

  .markdown,
  .result {
    min-width: 200px;
    width: 90%;
    height: 500px;

    margin: 5px;
  }
}
